---
- name: Update apt cache
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install Nginx
  apt:
    name: nginx
    state: present
  when: ansible_os_family == "Debian"

- name: Ensure web root directory exists
  file:
    path: /var/www/html
    state: directory

- name: Deploy custom index.html
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
  notify: restart nginx

- name: Ensure Nginx is started and enabled
  service:
    name: nginx
    state: started
    enabled: yes
